<div class="row pt-5">
    <div class="col-sm-8 offset-sm-2 text-center">
        <div class="jumbotron text-center p-5 main-objects">
            <h1 class="display-2">Edit account</h1>
        </div>
    </div> 
</div>
<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <div class="jumbotron p-5 main-objects">
            <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
           
            <%= f.text_field :firstname,  autofocus: false, autocomplete: "name", placeholder: "Enter First Name" %>
            <%= f.text_field :surname,  autofocus: false, autocomplete: "surname", placeholder: "Enter Surname"%>
  
            <%= f.date_field :dob,  autofocus: false, autocomplete: "date of birth"%>
            <%= f.text_field :post_code,  autofocus: false, autocomplete: "post code", placeholder: "Enter Post Code"%>
            <%= f.email_field :email, autofocus: false, autocomplete: "email", placeholder: "Enter Email" %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
            <%= f.password_field :password,  autocomplete: "new-password", placeholder: "Enter New Password", help: "(leave blank if you don't want to change it)"  %>
  
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Re-Enter New Password" %>
            <%= f.password_field :current_password, autocomplete: "off", help: "(we need your current password to confirm your changes)", placeholder: "Enter Old Password"  %><br />

            <%= f.submit "Update", data: { confirm: 'Do you consent to giving us your data?' }, class:"btn btn-light" %>
  
            <% end %>

            <h3 class="pt-4">Cancel my account</h3>

            <p>Unhappy? We're sad to see you go, if you would like to delete your account please click below. <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-dark" %></p>

            <%= link_to "Back", :back, {:style => "text-decoration: none;color:black;text-align: right;"} %>
<!--
            <%= render "devise/shared/links" %>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="field text-center">
                    <%= f.label :firstname %>
                    <%= f.text_field :firstname, autofocus: true %><br />
                </div>

                <div class="field text-center">
                    <%= f.label :surname %>
                    <%= f.text_field :surname, autofocus: true %><br />
                </div>

                <div class="field text-center">
                    <%= f.label :date_of_birth %>
                    <%= f.date_select :dob %><br /><br />
                </div>

                <div class="field text-center">
                    <%= f.label :post_code %>
                    <%= f.text_field :post_code %><br />
                </div>

                <div class="field text-center">
                    <%= f.label :email %>
                    <%= f.email_field :email %><br />
                </div>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="field text-center">
                    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
                    <%= f.password_field :password, autocomplete: "off" %><br />
                </div>

                <div class="field text-center">
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation, autocomplete: "off" %><br />
                </div>

                <div class="field text-center">
                    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
                    <%= f.password_field :current_password, autocomplete: "off" %><br />
                </div>

                <div class="actions">
                    <%= f.submit "Update" %>
                </div>
            <% end %>

            <br />
            <h3>Cancel my account</h3>

            <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

            <%= link_to "Back", :back %>
        </div>
    </div> 
</div>
-->