<div class="row pt-5" style="margin:0 auto; width:70%;">
    <div class="container p-5" style="border-radius: 25px; background-color: rgba(214, 213, 213, 0.8)">
        
<h1>About Us</h1>

<p class="lead">Our goal at YourFootprint is to spread awareness on carbon footprint and want to encourage people to improve their energy efficiency on a day to day basis as it can have an impact on the world.
 Our platform will educate individuals the different sources of climate change and their impacts.</p>
    <h4>Contact form</h4>

 

    <form request_contact_path, action = "/request_contact", method = 'post'>
        
        <%= label_tag :name, "Name" %>
        <%= text_field_tag :name, '', title: t('.enter_name'), size: 50, required: true, placeholder: "Enter Name", class: "form-control p-2" %>

        <%= label_tag :email, "Email" %>
        <%= email_field_tag :email, '', title: t('.enter_email'), required: true, placeholder: "Enter Email", class: "form-control p-2" %>

        <%= label_tag :telephone, "Phone Number" %>
        <%= telephone_field_tag :telephone, '', title: t('.enter_telephone'), type: "number", required: true, placeholder: "Enter Phone #", class: "form-control p-2" %>

        <%= label_tag :message, "Message" %>
        <%= text_field_tag :message, '', title: t('.enter_message'), rows: "10", cols: "30", size: 100, required: true, minlength: 20, placeholder: "Type your message here...", class: "form-control p-2" %>

        <%= submit_tag "Submit", class: "btn btn-light" %>
    </form>

    </div>
</div>

    
 