<div class="row pt-5">
	<div class="container-fluid text-center">
		<div class="jumbotron text-center p-5 col-sm-8 offset-sm-2 main-content">
            <h1 class="display-2 text-center">YourFootprint<small class="text-muted"> T&Cs</small></h1>
        </div>
    </div>
</div>

<div class="row">
	<div class="container-fluid text-center">
		<div class="text-center p-5 col-sm-8 offset-sm-2 main-content">
            <h1><%= t('T_and_C.title') %></h1>
						<h2><%= t('T_and_C.title1') %></h2>
						<p><%= t('T_and_C.p1') %><p>

						<h2><%= t('T_and_C.title2') %></h2>
						<p><%= t('T_and_C.p2') %><p>

						<h2><%= t('T_and_C.title3') %></h2>
						<p><%= t('T_and_C.p3') %><p>

						<h2><%= t('T_and_C.title4') %></h2>
						<p><%= t('T_and_C.p4') %><p>

						<h2><%= t('T_and_C.title5') %></h2>
						<p><%= t('T_and_C.p5') %><p>
        </div>
    </div>
</div>
