<div class="row pt-5" style="margin:0 auto; width:70%;">
<div class="container p-5" style="border-radius: 25px; background-color: rgba(214, 213, 213, 0.8)">
<div class="container1">

<div class="d-flex flex-column">
    <div class="d-flex">
        <div class="flex-item px-5">
            <%= image_tag "unknownProf1.png", :class => "profile" %>
        </div>
        <div class="flex-item px-5" style="font-size: 24px">
            <div class="flex-item justify-content-between py-1">
                Name:
            </div>
            <div class="flex-item justify-content-between py-1">
                Email:
            </div>
            <div class="flex-item justify-content-between py-1">
                Date of Birth:
            </div>
            <div class="flex-item justify-content-between py-1">
                Post code:
            </div>
            <div class="flex-item justify-content-between py-1">
                Lifetime points:
            </div>
        </div>
        <div class="flex-item px-5" style="flex-grow: 1; font-size: 24px">
            <div class="flex-item justify-content-between py-1">
                <%= current_user.firstname %>
                <%= current_user.surname %>
            </div>
            <div class="flex-item justify-content-between py-1">
                <%= current_user.email %>
            </div>
            <div class="flex-item justify-content-between py-1">
                <%= current_user.dob %>
            </div>
            <div class="flex-item justify-content-between py-1">
                <%= current_user.post_code %>
            </div>
            <div class="flex-item justify-content-between py-1">
                <%= current_user.lifetime_points %>
            </div>
        </div>
    </div>
</div>

<a type="button"  href="/users/edit" class="btn">Edit</a>
</div>
</div>
</div>