<div class="row pt-5" style="margin:0 auto; width:70%;">
<div class="container p-5" style="border-radius: 25px; background-color: rgba(214, 213, 213, 0.8)">
<div class="container1">

<div class="d-flex flex-column">
    <div class="d-flex">
        <div class="flex-item px-5">
            <%= image_tag "unknownProf1.png", :class => "profile" %>
        </div>
        <div class="flex-item flex-row px-5" style="flex-grow: 1">
            <div class="d-flex justify-content-between py-1" style="font-size: 30px">
                <div><%= current_user.firstname %> <%= current_user.surname %></div>
                <div><%= current_user.email %></div>
            </div>
            <div class="flex-item justify-content-between py-1">
                <div>Date of birth: <b><%= current_user.dob %></b></div>
            </div>
            <div class="flex-item justify-content-between py-1">
                <div>Post code: <b><%= current_user.post_code %></b></div>
            </div>
            <div class="flex-item justify-content-between pt-4" style="font-size: 30px">
                <div>Lifetime points: <%= current_user.lifetime_points %></div>
            </div>
        </div>
    </div>
</div>

<a type="button"  href="/users/edit" class="btn">Edit</a>
</div>
</div>
</div>