<!-- <div class="container-fluid px-4">
    <div class="row">
		<div class="col text-center p-5" style="margin: 0 auto;border-radius: 25px; background-color: rgba(214, 213, 213, 0.8)">
			<h1 class="display-2">Welcome to</h1>
		</div>
        <div class="col text-center p-5" style="margin: 0 auto;border-radius: 25px; background-color: rgba(214, 213, 213, 0.8)">
            <h1 class="display-2">Welcome to</h1>
        </div>
	</div>
</div> -->

<div class="container-fluid px-4">
    <div class="row px-2 py-4">
		<div class="col text-center px-5">
            <div class="container-fluid p-0 title-box">
                <h1 class="p-3 display-2">News articles</h1>
            </div>
            <div class="overflow-auto d-flex flex-column p-0 news-articles" style="">
                <% @news_articles.length.times do |x| %>
                    <div class="ratio" style="--bs-aspect-ratio: 47.24%;">                                              <%# 252px total %>
                        <div class="d-flex px-1 <%= x==19 ? "py-1" : "pt-1" %> " onclick="location.href='<%= @news_articles[x].url %>'">
                            <div class="col" style="padding: 1.5em;">
                                <div class="d-flex justify-content-between" style="height: 9.52%">                              <%# 24px %>
                                    <h5 class="m-0 news-articles-text news-articles-title">
                                        <%= @news_articles[x].name %></h5>
                                    <h6 class="m-0 news-articles-text news-articles-subtitle">
                                        <%= DateTime.iso8601(@news_articles[x].publishedAt).strftime("%B %d, %Y") %></h6>
                                </div>
                                <div class="d-flex flex-row overflow-hidden py-2" style="height: 36%">                                          <%# 60px %>
                                    <h4 style="text-align: justify; font-weight: bold; font-size: 1.3em">
                                        <%= @news_articles[x].title %></h4>
                                </div>
                                <div class="d-flex flex-row overflow-hidden" style="height: 41%">                               <%# 134px %>
                                    <p style="text-align: justify; font-size: 1em" >
                                        <%= @news_articles[x].description.truncate(200) %></p>
                                </div>
                                <div class="d-flex flex-fill" style="height: 12.48%; padding-top: 3.6%; font-weight: bold;">   <%# 34px & 10px padding %>
                                    <div style="display: flex; align-self: flex-end; font-size: 0.7em">
                                        <%= @news_articles[x].author %></div>
                                </div>
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src=<%= @news_articles[x].urlToImage %> 
                                    style="box-sizing: border-box; max-width:auto; height:100%; object-fit: cover;
                                        border-radius:
                                            0 <%= x==0  ? '8px' : 0 %>
                                              <%= x==19 ? '8px' : 0 %> 0;" 
                                >
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
		</div>
        <div class="col text-center px-5">
            <div class="container-fluid title-box">
                <h1 class="p-3 display-2">Twitter feed</h1>
            </div>
            <div class="overflow-auto d-flex flex-column p-0" style="border-radius: 10px; background-color: rgba(256, 256, 256, 1); width: 100%; font-size: 1.042vw;">
                <a class="twitter-timeline" href="https://twitter.com/BetterWorldInfo/lists/climatechange?ref_src=twsrc%5Etfw">A Twitter List by BetterWorldInfo</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
            </div>
        </div>
	</div>
</div>